{
    "user": "TQ_LMS",
    "password": "YOUR_PASSWORD_HERE",
    "connectString": "10.1.4.100:18032/PDBTQUEST",
    "poolMin": 2,
    "poolMax": 20,
    "poolIncrement": 2,
    "poolTimeout": 300,
    "queueTimeout": 300000,
    "poolPingInterval": 60,
    "stmtCacheSize": 10,
    "externalAuth": false,
    "homogeneous": true,
    "enableStatistics": false,
    "edition": "",
    "events": false
}
